body{
    background-image: url('Images/tesla.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color:navajowhite;
    background-position: fixed;
}
input {
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
    font-size: 18px; /* if that’s what you want... */
    line-height: 1.4; /* somewhat excessive */
    color: #a12222; /* if that’s what you want, but it reduces legibility */
    background: white; /* always set background when you set color */
}
body {
  min-width: 1050px; /* if you really want this... */
  min-height: 500px;
}
button {
  background-color: #e60b0b;
  color: black;
  float: right;
  padding: 10px;
  border-radius: 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 100px;
        height: 40px;
        font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
    font-size: 20px;
}

		h1 { 
	color: green; 
		} 
		
    img { 
      left: 400px; 
    }